<div class="admin-layout">

  <aside class="sidebar">

    <div class="logo">
      JShop Admin
    </div>

    <ul>

      <li routerLink="/admin/dashboard">
        Dashboard
      </li>

      <li routerLink="/admin/users">
        Users
      </li>

      <li routerLink="/admin/orders">
        Orders
      </li>

      <li routerLink="/admin/payments">
        Payments
      </li>

      <li routerLink="/admin/reports">
        Reports
      </li>

    </ul>

  </aside>

  <section class="content">

    <router-outlet></router-outlet>

  </section>

</div>