<section class="categories">

  <div class="container">

    <h2 class="section-title">
      Shop By Category
    </h2>

    <div class="category-grid">

      <div class="category-card">
        📱 Mobiles
      </div>

      <div class="category-card">
        💻 Laptops
      </div>

      <div class="category-card">
        👕 Fashion
      </div>

      <div class="category-card">
        🎧 Electronics
      </div>

      <div class="category-card">
        🎮 Gaming
      </div>

      <div class="category-card">
        📚 Books
      </div>

    </div>

  </div>

</section>