/* You can add global styles to this file, and also import other style files */
@import 'aos/dist/aos.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8fafc;
  color: #0f172a;
}